<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="../Content/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="../Content/img/logo.png" alt="Fazt logo" style="width: 20%">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
           
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <header class="main-header">
        <div class="background-overlay text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center justify-content-center align-self-center">
                        <h1>Club de Jazz</h1>
                        <p>
                            El jazz no se puede aprender con un librito, tiene que doler para que salga algo.Tocando fibras sobre la mediocridad, la avaricia, el egoísmo y los sentimientos más oscuros del ser humano.
                        </p>
                        <a href="#" class="btn btn-outline-secondary btn-lg text-white">
                            Read More
                        </a>


                    </div>
                    <div class="col-md-6">
                        <img src="../Content/img/product.png" alt="Imagen del producto" class="img-fluid d-none d-sm-block">

                    </div>

                </div>

    </header>
    <section class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" class="form-control form-control-lg"
                           placeholder="Enter your Name">
                </div>
                <div class="col-md-4">
                    <input type="email" class="form-control form-control-lg"
                           placeholder="Enter your Email">
                </div>

                <div class="col-md-4">
                    <button class="btn btn-primary btn-lg btn-block">
                        Subscribe

                    </button>
                </div>
            </div>

    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3>Invitados</h3>
                            <P>
                                Presentaciones con los mejores artistas de hoy y siempre.
                            </P>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white">
                        <div class="card-body">
                            <h3>Conciertos</h3>
                            <P>
                                Invitados neofitos que estan surgiendo en la escena del jazz.
                            </P>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h3>Batallas de jazz</h3>
                            <P>
                                Mano a mano con las figuras mas rutilantes de la escena jazzistica.
                            </P>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center bg-primary text-white">
                        <div class="card-body">
                            <h3>Conversatorios</h3>
                            <P>
                                Charlas con los mejores expositores del mundo del jazz.
                            </P>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="bg-light text-center">
        <div class="container">
            <div class="row">
                <div m-5>
                    

    </section>
    <section class="team text-center">
        <div class="container p-5">
            <h1 class="text-white">Equipo</h1>
            <p class="text-white">El combo del jazz y colaboradoes.</p>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Content/img/person.png" class="img-fluid rounded-circle w-50" alt="Person One">
                            <h3>Miles Davis</h3>
                            <p>Mi ego sólo necesita una buena sección rítmica...</p>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    </a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Content/img/person.png" class="img-fluid rounded-circle w-50" alt="Person One">
                            <h3>Charlie Parker</h3>
                            <p> La música es tu propia experiencia...</P>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Content/img/person.png" class="img-fluid rounded-circle w-50" alt="Person One">
                            <h3>Charles Mingus</h3>
                            <p>La creatividad esta en simplificar lo complicado...</p>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <img src="../Content/img/person.png" class="img-fluid rounded-circle w-50" alt="Person One">
                            <h3>John Coltrane</h3>
                            <p>
                                El músico es a través de su música. ...
                            </p>
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    </a>

                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    </a>
                                </div>
                                <div class="p-4">
                                    <a href="http://facebook.com/fazttech" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    </a>


    </section>
    <section class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h3>Contacto</h3>
                    <p>clubjazz@gmail.com</p>
                        <div>
                            @RenderBody()
                        </div>
                </div>
                <div class="col-lg-3 align-self-center">
                    <img src="../Content/img/logo.png" alt="">
                </div>

            </div>

        </div>

    </section>
    <footer>
        <div class="container p-3 text-white text-center">
            <p>Copyright Mauro Cano; 2021</p>

        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH
	+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.
    min.js" integrity="sha384-ZMP7rVo3mIykV+2
    +9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.
    js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0
    Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>
